# Site settings
title: "Advanced Python Info"
description: "A simple Jekyll site with tocbot"

# url: "https://osickwon.github.io"      # add this
# baseurl: "/Python-Advanced"            # set this to your repo name

# Build settings
markdown: kramdown
kramdown:
  auto_ids: true
  toc_levels: 1..6
plugins:
  - jekyll-feed
  - jekyll-sitemap

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
